* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); /* Свежий мятный градиент */
    height: 100vh; /* На всю высоту экрана */
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}
/* заголовок */
h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}
/* формат поиска */
form {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}
input {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}